# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
dss/
# VSCode and JetBrains IDE settings
.vscode/
.idea/


# Logs
*.log

# dotenv
.env
*.env

# Node/npm (if applicable for frontend tools)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

