<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Secure Package Search</title>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <header>
    <h1 class="title">I<span class="bold">d</span>io<span class="bold">s</span>y<span class="bold">ncrasy</span></h1>
    <div class="subtitle">Data Sharing aNd Collection Reveal Android SYstem</div>
  </header>

  <main>
    <div class="search-container">
      <form id="searchForm" autocomplete="off">
        <input type="text" id="searchInput" placeholder="package_name" />
        <button type="submit">Search</button>
      </form>
      <div class="result" id="result" style="margin-top: 1.5rem;"></div>
    </div>
  </main>

  <footer>
    <div class="footer-content">&copy; 2025 Idiosyncrasy. All rights reserved.</div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
