<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Secure Package Search</title>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header style="text-align:center; display: flex; align-items: center; justify-content: center; gap: 12px; padding: 1rem;">
  <img src="{{ url_for('static', filename='privacyscout.png') }}" alt="Logo" style="height: 50px; width: auto;" />
  <div>
    <h1 class="title" style="font-size:2.5rem; margin:0; font-weight:900;">
      <span style="color: white;">Privacy</span><span style="color: #5bc0de;">Scout</span>
    </h1>
    <div class="subtitle" style="font-size:1rem; color:#6d6d6d; margin-top:8px;">
      Uncovering Mobile Data Safety Discrepancies
    </div>
  </div>
</header>
  <main>
    <div class="search-container">
      <form id="searchForm" autocomplete="off">
        <input type="text" id="searchInput" placeholder="Download & Scan Application" />
        <button type="submit">Search</button>
      </form>
      <div class="result" id="result" style="margin-top: 1.5rem;"></div>
    </div>
  </main>

  <footer>
    <div class="footer-content">&copy; 2025 Apokalypsis. All rights reserved.</div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
